In [4]:
import pandas as pd
import payments_manager as pm
#pm.reset()
daily = pm.df('df_jo')
pd.options.display.max_columns = None
pm.format_to_dates(daily)
display(daily.sort_values(['created_at','created_at_fe']).head(5))
daily.info()

,id_cr,id_fe,fe_cr_id,user_id,active,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status,updated_at,reco_creation,reco_last_update,updated_at_fe,Mes_created_at,cash_request_received_date,created_at_slot,created_at_slot_h,created_at_dow,needs_m_check,needs_m_check_recov,n_fees,n_backs,n_recovery,n_incidents,created_at_d,GBP_EUR,BTC_GBP,inflation,unemploy_rate
0,3,0,NaN,47,1,2019-11-19,NaT,1.0,0.0,canceled,cr_regular,regular,nice,NaT,NaT,16 days 09:02:06.488439,NaT,NaT,NaT,NaT,NaT,NaT,2019-12-05,NaT,NaN,2019-11-20,NaN,NaN,NaT,NaT,nice,2020-12-14,NaT,NaT,NaT,2019-11,NaT,7,13-Ma√±ana,1,1,1,0,0,0,1,2019-11-19,1.16935,6347.577148,1.3,4.0
1,4,0,NaN,99001309,0,2019-12-09,NaT,100.0,0.0,money_back,cr_regular,regular,nice,NaT,NaT,7 days 08:12:24.809286,NaT,0 days,NaT,NaT,NaT,2019-12-16,2019-12-16,NaT,NaN,2019-12-09,NaN,NaN,NaT,NaT,nice,2020-11-04,NaT,NaT,NaT,2019-12,NaT,14,14-Tarde,0,0,0,0,1,0,0,2019-12-09,1.18803,5630.115723,1.3,4.0
2,5,0,NaN,804,1,2019-12-10,NaT,100.0,0.0,rejected,cr_regular,regular,nice,NaT,NaT,29 days 23:59:59.999490,NaT,NaT,NaT,NaT,NaT,NaT,2020-01-09,NaT,NaN,2019-12-11,NaN,NaN,NaT,NaT,nice,2019-12-11,NaT,NaT,NaT,2019-12,NaT,14,19-Tarde,1,1,1,0,0,0,1,2019-12-10,1.18800,5543.707520,1.3,4.0
3,6,0,NaN,812,1,2019-12-10,NaT,100.0,0.0,direct_debit_rejected,cr_regular,regular,nice,0 days 04:54:11.078958,NaT,57 days 03:54:11.078958,NaT,NaT,NaT,NaT,2019-12-11,NaT,2020-02-05,NaT,NaN,2019-12-11,NaN,NaN,NaT,NaT,pending,2020-12-18,2020-03-20,2020-12-18,NaT,2019-12,2019-12-11,14,19-Tarde,1,1,1,0,0,1,1,2019-12-10,1.18800,5543.707520,1.3,4.0
4,7,0,NaN,191,1,2019-12-10,NaT,100.0,0.0,rejected,cr_regular,regular,nice,NaT,NaT,29 days 23:59:59.999581,NaT,NaT,NaT,NaT,NaT,NaT,2020-01-09,NaT,NaN,2019-12-11,NaN,NaN,NaT,NaT,nice,2019-12-11,NaT,NaT,NaT,2019-12,NaT,14,19-Tarde,1,1,1,0,0,0,1,2019-12-10,1.18800,5543.707520,1.3,4.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32092 entries, 0 to 32091
Data columns (total 51 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_cr                       32092 non-null  int64
 1   id_fe                       32092 non-null  int64
 2   fe_cr_id                    21055 non-null  float64
 3   user_id                     32092 non-null  int64
 4   active                      32092 non-null  int64
 5   created_at                  32092 non-null  datetime64[ns]
 6   created_at_fe               21055 non-null  datetime64[ns]
 7   amount                      32092 non-null  float64
 8   fee                         32092 non-null  float64
 9   stat_cr                     32092 non-null  object
 10  stat_fe                     32092 non-null  object
 11  transfer_type               32092 non-null  object
 12  type                        32092 non-null  object
 13  to_receive_ini              25366 non-null  timedelta64[ns]
 14  to_receive_bank             18691 non-null  timedelta64[ns]
 15  to_reimbur                  32092 non-null  timedelta64[ns]
 16  to_reimbur_cash             22677 non-null  timedelta64[ns]
 17  to_end                      24106 non-null  timedelta64[ns]
 18  to_send                     22677 non-null  timedelta64[ns]
 19  send_at                     22677 non-null  datetime64[ns]
 20  cr_received_date            25366 non-null  datetime64[ns]
 21  money_back_date             24106 non-null  datetime64[ns]
 22  reimbursement_date          32092 non-null  datetime64[ns]
 23  paid_at                     15529 non-null  datetime64[ns]
 24  charge_moment               21055 non-null  object
 25  moderated_at                21757 non-null  datetime64[ns]
 26  reason                      21055 non-null  object
 27  category                    21055 non-null  object
 28  from_date                   7765 non-null   datetime64[ns]
 29  to_date                     7765 non-null   datetime64[ns]
 30  recovery_status             32092 non-null  object
 31  updated_at                  32092 non-null  datetime64[ns]
 32  reco_creation               7199 non-null   datetime64[ns]
 33  reco_last_update            7199 non-null   datetime64[ns]
 34  updated_at_fe               21055 non-null  datetime64[ns]
 35  Mes_created_at              32092 non-null  period[M]
 36  cash_request_received_date  25366 non-null  datetime64[ns]
 37  created_at_slot             32092 non-null  object
 38  created_at_slot_h           32092 non-null  object
 39  created_at_dow              32092 non-null  int32
 40  needs_m_check               32092 non-null  int64
 41  needs_m_check_recov         32092 non-null  int64
 42  n_fees                      32092 non-null  int64
 43  n_backs                     32092 non-null  int64
 44  n_recovery                  32092 non-null  int64
 45  n_incidents                 32092 non-null  int64
 46  created_at_d                32092 non-null  object
 47  GBP_EUR                     32092 non-null  float64
 48  BTC_GBP                     32092 non-null  float64
 49  inflation                   32092 non-null  float64
 50  unemploy_rate               32092 non-null  float64
dtypes: datetime64[ns](15), float64(7), int32(1), int64(10), object(11), period[M](1), timedelta64[ns](6)
memory usage: 12.4+ MB

In [31]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

# Define el s√≠mbolo del ticker para el par de divisas (GBP/EUR)
ticker = 'GBPEUR=X'

# Obtener datos hist√≥ricos
data = yf.download(ticker, start='2020-10-20', end='2020-11-07')

# Mantener solo la columna 'Close' (Cierre)
exchange_rate = data[['Close']]

# Restablecer el √≠ndice para que 'Date' (Fecha) sea una columna
exchange_rate = exchange_rate.reset_index()

# Renombrar las columnas a 'Date' (Fecha) y 'GBP to EUR' (GBP a EUR)
exchange_rate.columns = ['Date', 'GBP to EUR']

# Mostrar el DataFrame
display(exchange_rate.tail(10))

# Define el s√≠mbolo del ticker para BTC/GBP
ticker = 'BTC-GBP'

# Obtener datos hist√≥ricos
data4 = yf.download(ticker, start='2020-10-20', end='2020-11-07')

# Mantener solo la columna 'Close' (Cierre)
btc_gbp_data = data4[['Close']]

# Restablecer el √≠ndice para que 'Date' (Fecha) sea una columna
btc_gbp_data = btc_gbp_data.reset_index()

# Renombrar las columnas a 'Date' (Fecha) y 'BTC to GBP' (BTC a GBP)
btc_gbp_data.columns = ['Date', 'BTC to GBP']

# Mostrar el DataFrame
display(btc_gbp_data.tail(10))

#df_jo = pm.df('df_jo')
#df_jo['created_at_d'] = pd.to_datetime(df_jo['created_at'])
#df_jo['created_at_d'] = df_jo['created_at_d'].dt.date

daily = pd.DataFrame({'Date': pd.date_range(start='2019-12-01', end='2020-11-04', freq='D')})
daily['Date'] = pd.to_datetime(daily['Date'])
daily['Date'] = daily['Date'].dt.date


exchange_rate['Date'] = pd.to_datetime(exchange_rate['Date'],format='ISO8601')
exchange_rate['Date'] = exchange_rate['Date'].dt.date
daily = pd.merge(daily, exchange_rate, left_on='Date', right_on='Date', how ="left") #inner
daily['GBP to EUR'] = daily['GBP to EUR'].fillna(0)



btc_gbp_data['Date'] = pd.to_datetime(btc_gbp_data['Date'],format='ISO8601')
btc_gbp_data['Date'] = btc_gbp_data['Date'].dt.date
daily = pd.merge(daily, btc_gbp_data, left_on='Date', right_on='Date', how ="left") #inner
daily['BTC to GBP'] = daily['BTC to GBP'].fillna(0)


#daily = daily.drop(columns=['Date_x','Date_y'])


# Combine the two DataFrames by the 'Date' column
#divisa_exogenas = pd.merge(btc_gbp_data, exchange_rate, on='Date', how='left')

display(daily.tail(15))

[*********************100%***********************]  1 of 1 completed

         Date  GBP to EUR
4  2020-10-26     1.10162
5  2020-10-27     1.10205
6  2020-10-28     1.10590
7  2020-10-29     1.10554
8  2020-10-30     1.10720
9  2020-11-02     1.11021
10 2020-11-03     1.10990
11 2020-11-04     1.11531
12 2020-11-05     1.10496
13 2020-11-06     1.11171

[*********************100%***********************]  1 of 1 completed

         Date    BTC to GBP
8  2020-10-28  10217.204102
9  2020-10-29  10391.864258
10 2020-10-30  10462.250000
11 2020-10-31  10645.804688
12 2020-11-01  10627.522461
13 2020-11-02  10486.453125
14 2020-11-03  10632.960938
15 2020-11-04  10900.692383
16 2020-11-05  11857.214844
17 2020-11-06  11832.668945

           Date  GBP to EUR    BTC to GBP
325  2020-10-21     1.09480   9767.188477
326  2020-10-22     1.10766   9914.278320
327  2020-10-23     1.10675   9914.352539
328  2020-10-24     0.00000  10047.958984
329  2020-10-25     0.00000   9983.312500
330  2020-10-26     1.10162  10046.040039
331  2020-10-27     1.10205  10478.137695
332  2020-10-28     1.10590  10217.204102
333  2020-10-29     1.10554  10391.864258
334  2020-10-30     1.10720  10462.250000
335  2020-10-31     0.00000  10645.804688
336  2020-11-01     0.00000  10627.522461
337  2020-11-02     1.11021  10486.453125
338  2020-11-03     1.10990  10632.960938
339  2020-11-04     1.11531  10900.692383