In [16]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

# Define el símbolo del ticker para el par de divisas (GBP/EUR)
ticker = 'GBPEUR=X'

# Obtener datos históricos
data = yf.download(ticker, start='2019-11-01', end='2020-10-31')

# Mantener solo la columna 'Close' (Cierre)
exchange_rate = data[['Close']]

# Restablecer el índice para que 'Date' (Fecha) sea una columna
exchange_rate = exchange_rate.reset_index()

# Renombrar las columnas a 'Date' (Fecha) y 'GBP to EUR' (GBP a EUR)
exchange_rate.columns = ['Date', 'GBP to EUR']

# Mostrar el DataFrame
exchange_rate

[*********************100%***********************]  1 of 1 completed

          Date  GBP to EUR
0   2019-11-01     1.15967
1   2019-11-04     1.15850
2   2019-11-05     1.15817
3   2019-11-06     1.16280
4   2019-11-07     1.16130
..         ...         ...
256 2020-10-26     1.10162
257 2020-10-27     1.10205
258 2020-10-28     1.10590
259 2020-10-29     1.10554
260 2020-10-30     1.10720

[261 rows x 2 columns]

In [32]:
import pandas as pd

# Define the data
data2 = {
    'Date': ['12-2019', '01-2020', '02-2020', '03-2020', '04-2020', '05-2020', '06-2020', '07-2020', '08-2020', '09-2020', 
             '10-2020'],
    'Inflation (%)': [1.3, 1.8, 1.7, 1.5, 0.8, 0.5, 0.6, 1.0, 0.2, 0.5, 0.7]
}

#Fuente: https://www.statista.com/statistics/306648/inflation-rate-consumer-price-index-cpi-united-kingdom-uk/

# Create DataFrame
inflation = pd.DataFrame(data2)

# Display the DataFrame
inflation

       Date  Inflation (%)
0   12-2019            1.3
1   01-2020            1.8
2   02-2020            1.7
3   03-2020            1.5
4   04-2020            0.8
5   05-2020            0.5
6   06-2020            0.6
7   07-2020            1.0
8   08-2020            0.2
9   09-2020            0.5
10  10-2020            0.7

In [43]:
# Define the data
data3 = {
    'Date': ['12-2019', '01-2020', '02-2020', '03-2020', '04-2020', '05-2020', '06-2020', '07-2020', '08-2020', '09-2020', 
             '10-2020'],
    'Unemployment rate (%)': [4.0, 4.1, 4.1, 4.2, 4.2, 4.2, 4.4, 4.7, 5.0, 5.2, 5.2]
}

#Fuente: https://www.oecd.org/en/data/indicators/unemployment-rate.html?oecdcontrol-59006032fa-var1=GBR&oecdcontrol-4c072e451c-var3=2020-10

# Create DataFrame
unemployment = pd.DataFrame(data3)

# Display the DataFrame
unemployment

       Date  Unemployment rate (%)
0   12-2019                    4.0
1   01-2020                    4.1
2   02-2020                    4.1
3   03-2020                    4.2
4   04-2020                    4.2
5   05-2020                    4.2
6   06-2020                    4.4
7   07-2020                    4.7
8   08-2020                    5.0
9   09-2020                    5.2
10  10-2020                    5.2

In [38]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

# Define el símbolo del ticker para BTC/GBP
ticker = 'BTC-GBP'

# Obtener datos históricos
data4 = yf.download(ticker, start='2019-11-01', end='2024-10-31')

# Mantener solo la columna 'Close' (Cierre)
btc_gbp_data = data4[['Close']]

# Restablecer el índice para que 'Date' (Fecha) sea una columna
btc_gbp_data = btc_gbp_data.reset_index()

# Renombrar las columnas a 'Date' (Fecha) y 'BTC to GBP' (BTC a GBP)
btc_gbp_data.columns = ['Date', 'BTC to GBP']

# Mostrar el DataFrame
btc_gbp_data

[*********************100%***********************]  1 of 1 completed

           Date    BTC to GBP
0    2019-11-01   7156.055176
1    2019-11-02   7205.004395
2    2019-11-03   7139.003418
3    2019-11-04   7302.200684
4    2019-11-05   7253.519531
...         ...           ...
1821 2024-10-26  51413.687500
1822 2024-10-27  51704.855469
1823 2024-10-28  52424.503906
1824 2024-10-29  53880.703125
1825 2024-10-30  55891.515625

[1826 rows x 2 columns]

In [41]:
# Combine the two DataFrames by the 'Date' column
combined_df_daily_exogens = pd.merge(exchange_rate, btc_gbp_data, on='Date', how='inner')

# Mostrar el DataFrame combinado
combined_df_daily_exogens

          Date  GBP to EUR    BTC to GBP
0   2019-11-01     1.15967   7156.055176
1   2019-11-04     1.15850   7302.200684
2   2019-11-05     1.15817   7253.519531
3   2019-11-06     1.16280   7280.433594
4   2019-11-07     1.16130   7228.910645
..         ...         ...           ...
256 2020-10-26     1.10162  10046.040039
257 2020-10-27     1.10205  10478.137695
258 2020-10-28     1.10590  10217.204102
259 2020-10-29     1.10554  10391.864258
260 2020-10-30     1.10720  10462.250000

[261 rows x 3 columns]

In [42]:
# Combine the two DataFrames by the 'Date' column
combined_df_monthly_exogens = pd.merge(unemployment, inflation, on='Date', how='inner')

# Mostrar el DataFrame combinado
combined_df_monthly_exogens

       Date  Unemployment rate (%)  Inflation (%)
0   12-2019                    4.0            1.3
1   01-2020                    4.1            1.8
2   02-2020                    4.1            1.7
3   03-2020                    4.2            1.5
4   04-2020                    4.2            0.8
5   05-2020                    4.2            0.5
6   06-2020                    4.4            0.6
7   07-2020                    4.7            1.0
8   08-2020                    5.0            0.2
9   09-2020                    5.2            0.5
10  10-2020                    5.2            0.7